body {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
}

.result {
  border: 1px solid;
  padding: 1em;
}

/* .loading {
  display: block;
  color: red;
  font-weight: bold;
} */

.indicator {
  display: none;
}

.indicator.loading {
  display: block;
}